:root {
    --header-height: 60px;
    --container-max-width: 1024px;
}

* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.items-center {
    display: flex;
    align-items: center;
}